@model List<Pizza>

<h1 class=" mb-4">Elenco Pizze</h1>

@if(Model.Count() == 0) {
    <h2>Non sono presenti pizze nella lista</h2>
} else {
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Prezzo</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <a class="btn btn-success mb-4" asp-area="" asp-controller="Pizza" asp-action="Create">Aggiungi Pizza</a>
            </tr>

            @foreach (Pizza pizza in Model)
            {
                <tr>
                    <td>@pizza.PizzaId</td>
                    <td>@pizza.Name</td>
                    <td><a href="@Url.Action("Detail", new {id = pizza.PizzaId})" class="btn btn-success">Vedi dettagli</a></td>
                    <td>
                        <img src="@pizza.Image" alt="@pizza.Name" style="width: 300px">
                    </td>
                    <td>@pizza.Prezzo</td>
                </tr>
            }
            
            </tbody>
        </table>
    }
